*{
padding:0;
margin:0;
}


body {
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
}

#game{
    display: flex;
    gap: 10px;
}

#title {
    font-size: 100px;
    font-weight: bold;
    color: yellow;
    text-shadow:2px 2px black;
    text-align: left;
}

#flappy{
    background-color: whitesmoke;
    width: 700px;
    height: 600px;
    border: 3px solid black;
    margin: auto;
    overflow: hidden;
    position: relative;
}
#startScreen{
    position: absolute;
    width: 700px;
    height: 600px;
    background-image: url('menu_back.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow:2px 2px black;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#block{
    width: 90px;
    height:600px;
    background-color: green;
    position: relative;
    left: 700px;
    animation: block 2s infinite linear;
}


@keyframes block{
    0%{left:700px}
    100%{left:-90px}
}

#hole{
    width: 90px;
    height: 200px;
    background-color: whitesmoke;
    position: relative;
    left: 700px;
    top: -600px;
    animation: block 2s infinite linear;
}

#character{
    width: 60px;
    height: 38px;
    background-image: url('flappy__.png');
    background-size: cover; 
    background-position: center; 
    position: absolute;
    top: 100px;
}

#sidebar {
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border: 5px solid yellow;
    padding: 15px;
}

#sidebar h2 {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}

#highscoresList {
    list-style: decimal inside;
    font-size: 20px;
    height: 230px;
}


